.container {
    height: 100%;
    display: flex;
    width: 100% !important;
}

.ag-theme-alpine {
    font-family: Verlag,Helvetica,Arial,sans-serif;
}

.ag-cell-label-container {
    display: flex;
    justify-content: flex-end;
}

.ag-cell-label-container:nth-child(2) {
    display: flex;
    justify-content: flex-start;
}

.ag-header-cell-label {
    display: flex;
}

.ag-header-cell-label .ag-header-cell-text {
    justify-self: flex-start;
}

.ag-header-cell-label .ag-sort-indicator-container {
    justify-self: flex-end;
}

.ag-cell {
    font-size: 13;
}

.ag-header-active {
    color: #001489;
    margin-top: '1em'
}

.ag-header-cell {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.05px;
    line-height: 20px;
    background-color: white;
}

.hover:hover {
    font-weight: 600;
    color: #001489;
    font-size: 22px;
    background-color: white;
}

.tooltip {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.active {
    color: #001489;
}