.customHeaderLabel {
    float: left;
    margin: 0 0 0 3px;
}

.customSortDownLabel {
    float: left;
    margin: 0 0 0 3px;
}

.customSortUpLabel {
    float: left;
    margin: 0;
}

.customSortRemoveLabel {
    float: left;
    margin: 0 0 0 3px;
    font-size: 11px;
}

.custom-header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.custom-header-container-child-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}